version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      - frontend

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"